body {
  line-height: 1.8;
  background: url(../images/bg/check.png);
}

main {
  width: 980px;
  margin: 0 auto;
  background: #fff;
}

header {
  background: url(../images/wallpaper/luna.jpg);
  color: #fff;
}

header p {
  text-align: center;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 1em;
}

nav {
  margin-bottom: 2em;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  width: 160px;
  text-align: center;
}
/* リンクの設定 */
a:link {
  color: #3d8304;
  text-decoration: underline;
}

a:visited {
  color: #3d8304;
  text-decoration: underline;
}

a:hover {
  color: #ec380b;
  text-decoration: none;
}

article {
  width: 780px;
  margin: 0 auto;
}

h2 {
  background: #3d8304;
  padding: 15px;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 1em;
}

dl {
  margin-bottom: 1.5em;
}

dt {
  font-weight: bold;
}

.caption {
  margin-bottom: 2em;
}
/* 説明文の部分に下側の余白を入れるためのクラス */

footer {
  background: #3d8304;
  padding: 15px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
p {
  background: yellow;
  color: blue;
}
